

.text-sm {
    font-size: 0.5em;
    font-weight: 0;
}

h6 {
    font-size: 0.7em;
}


.table-sm > * {
    font-size: 0.55em;
}


.table > * {
    border: 0px;
    padding: 0px;
}

.table {
    border-bottom: 0px !important;
}

.table-bordered, td, th {
    border-color: black !important;
}

.flex {
    justify-content: space-between;
}

.small {
    font-size: 0.95em;
}

.text-md {
    font-size: 0.6em;
}

.uppercase {
    text-transform: uppercase;
}

.boleta-header {
    width: auto;
    border: 0.5px solid black;
    border-radius: 0.5em;
}

    .table-boleta thead, tr, td, th {
        padding: 0px;
    }

.py-0 {
    padding: 0px;
}

.bbt-1 {
    border-top: 1px solid black;
}

.bbt-2 {
    border-top: 2px solid black;
}

.bbb-1 {
    border-bottom: 1px solid black;
}

.bbl-1 {
    border-left: 1px solid black;
}

.bbr-1 {
    border-right: 1px solid black;
}


.mb-5 {
    margin-bottom: 5em;
}

.mb-7 {
    margin-bottom: 7em; 
}


.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

    .top-0 {
        top: 0px;
    }

    .bottom-0 {
        bottom: 0px;
    }


.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11;
}

.font-9 {
    font-size: 9px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-11 {
    font-size: 11px;
}


.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14;
}


.text-negro {
    color: black !important;
}

.table-bordered {
    border-color: black !important;   
}